<div class="row">

	<div class="center jumbotron padding-top-bottom-100">
		<div class="row">
			<div class="col-lg-12">
  				<%= link_to "Cotiza tu envío", cotizacion_path, class: "btn btn-lg btn-primary margin-topBottom-100", 'data-no-turbolink' => true %>
  			</div>
  		</div>
	</div>

</div>

<div class="row">
	<div class="col-lg-12 center">
		<%= link_to "Chambea con nosotros", unete_path, class: "btn btn-lg btn-success margin-top-100" %>
		<%= link_to "Preguntas frecuentes", faq_path, class: "btn btn-lg btn-success margin-top-100" %>
		<%= link_to "Políticas de envíos", politicas_path, class: "btn btn-lg btn-success margin-top-100" %>
	</div>
</div>
