<% provide(:title, "Crea Cuenta | ") %>

<h2>¡Comienza a pedir todo a domicilio el mísmo día!</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@usuario) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :nombre_de_usuario %>
      <%= f.text_field :nombre, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirma tu password" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Crear cuenta gratis", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>