<footer class="footer">
  <small>
    <p>Bicimensajero 2015</p>
  </small>
  <nav>
    <ul>
      <li><h4><%= link_to "Acerca de nosotros", acercade_path %></h4></li>
      <li><h4><%= link_to "Contacto", contacto_path %></h4></li>
      <li><h4><%= link_to "Aviso de privacidad", privacidad_path %></h4></li>
    </ul>
  </nav>
</footer>